:root {
  --pr-color: #fff;
  --second-color: #0a0a0a;
  --color-n3: #26cf6c;
  --cubicbz: cubic-bezier(0.9, 0, 0.1, 1);
  --fz-big: 90px;
  --indent: 50px;
  --indent2: 100px;
}

* {
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  font-feature-settings: "pnum" on, "lnum" on;
}

body {
  background: var(--second-color);
}

.main {
  padding-bottom: var(--indent2);
}

.content {
  width: 100%;
  height: auto;

  padding: 0 var(--indent);
}

.section-text {
  margin-top: var(--indent2);
}

p {
  color: #616161;
  font-size: 25px;
  line-height: 1.4;
}

/* scroll trigger *************************/
/*****************************************/
.section-slider {
  height: auto;
  padding: 30px 0;
}

.gsap__slider {
  height: 80vh;
}

.gsap__bl {
  width: 100%;
}

.gsap__inner,
.gsap__track {
  display: flex;
  flex-direction: row;
}

.gsap__inner {
  width: calc(100% + var(--indent));
}

.gsap__track {
  will-change: transform;
}

.gsap__item {
  display: inline-block;
  width: 40vw;
}
.gsap__item figure {
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
}
.gsap__item figure img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.gsap__item + .gsap__item {
  margin-left: var(--indent);
}

.gsap_slider .content,
.gsap_h,
.gsap__bl,
.gsap__inner,
.gsap__item {
  height: 100%;
}
